header{
    color: white;
    background-color: #2c3e50;
    width: 100%;

}


.my-block{
    height: 50px;
    background-color: cyan;
    border:  5px solid black;
}

.my-start{
    background-color: #1abc9c;
    width: 100%;
}





.my-color{
    color: white;
}



.my-line{
    height: 5px;
    width: 60px;
    border-radius: 10px;
    background-color: white;
}

.my-line-dark{
    height: 5px;
    width: 60px;
    border-radius: 10px;
    background-color: #2c3e50;
}

.fa-star{
    margin: 0 1rem;
}

.my-button{
    background-color: #1abc9c;
    height: 50px;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
}


.max-widht{
    width: 100%;
}



.my-contact{
    width: 100%;
}



#location{
    background-color: #3a546d;
    width: 100%;
}

#copyright{
    background-color: #2c3e50;
    width: 100%;
}

.my-width{
    width:200px;
}

.my-align{
    align-items: center;
}

.me-star-dark{
    color: #373737;
}

.my-type-button{
    background-color: #1abc9c;
    border: white;
}

.my-circle{
    border-radius: 100%;
    border: 2px solid white;
    width: 50px;
    height: 40px;
}

.my-green{
    color: #1eac93;

}